.carousel-text {
    background-color: rgba(0,0,0, 1);
    font-size: 18px;
}

body, footer {
    font-size: x-large;
    color:black;
}

a {
    text-decoration: none;
}

.line {
    width: 80%;
    height: 5px;
    background-color: #0d6efd;
    margin: 15px auto 30px;
}
